.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-left: 40px;
}



.search-input {
flex-grow: 1;
border: none;
outline: none;
padding: 5px;
}

.search-icon {
color: #999;
margin-left: 5px;
cursor: pointer;
}
