.label-container {
  display: flex;
  align-items: center;
}

.circle-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Ajustez la marge selon vos besoins */
}

.icon {
  color: #000;
  font-size: 10px;
}
