.custom-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.custom-list-item {
  border: none;
}

.custom-sublist {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 0;
}

.custom-sublist-item {
  border: none;
}
.button {
  background-color: #002559; 
  color : #fefefe;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-top: 250px;
}

.selected {
  background-color: #d5e5ef;
  color: #000;
}
.not-selected {
  color: #000;
}
.label-selection {
  color : #002559;
}